body,
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  width: auto;
  border: solid blue;
  padding: 20px 6%;
  justify-content: space-between;
  align-items: center;
}
nav {
  flex-grow: 1;
}
.logo {
  margin-right: 50px;
}
ul {
  display: flex;
}
ul > li {
  display: inline-block;
}
