body,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 2px red solid;
}
:root {
  --primary-color: #6663e9;
  --secondary-color: #27292e;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
h1 {
  font-size: 4rem;
}
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1.2rem 3rem;
  border-radius: 999px;
  width: max-content;
  font-size: 1.2rem;
  font-weight: bolder;
}
.h-whitespace {
  padding-left: 50px;
  padding-right: 50px;
}
main {
  background: url(./Photos/mainBackground.png);
  background-position: center;
  background-size: cover;
  /* min-height: 90vh; */
  color: #fff;
  padding: 0 8%;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 0;
  padding: 2rem 5%;
  font-size: 1.2rem;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* max-width: 600px; */
  margin: auto 0;
  /* padding-top: 6rem;
  padding-bottom: 10rem; */
  padding-top: 5%;
  padding-bottom: 20%;
}
.main-container > h1 {
  max-width: 600px;
}

.multi-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10%;
  width: 90%;
  margin: auto;
  background-color: #fff;
  padding: 4rem;
  border-radius: 25px;
}
.multi-logo-container > img {
  width: 15%;
}
@media screen and (max-width: 900px) {
  .h-whitespace {
    padding-left: 0;
    padding-right: 0;
  }
}
